# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
npm-lock.yaml

# Next.js build output
.next/
out/
.next-static/
.next-turbo/

# Turbo / monorepo stuff
.turbo/
turbo-dev.log

# Production build
dist/

# Env files
.env
.env*.local

# Logs
logs/
*.log
*.log.*
log/
pids/
*.pid
*.seed
*.pid.lock

# OS junk
.DS_Store
Thumbs.db

# Editor junk
.vscode/
.idea/
*.swp
*.swo

# Testing / coverage
coverage/
jest-html-reporters-*.html
.jest/

# Storybook
storybook-static/
.out/

# VSCode settings
*.code-workspace

# Misc
*.tgz
.eslintcache
.next/trace
.next/cache/
